/* Try grid  */

nav {
    background-color: var(--secondary);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* justify-content: space-between; */
    position: fixed;
    z-index: 1;
}