:root {
    --primary : white;
    --secondary : #f4ece1;
    --secondary-transparent: rgba(245, 236, 224, 0.4);
    --tertiary : white;
    --container: #F5F5F5;
    --text: black;
    --icon: black;
    --text-url: black;
    --text-deco : whitesmoke;
    --text-h : black;
    --button : black;
    --accent: #884A39;
}
[data-theme='dark'] {
    --primary : black;
    --secondary : #3d0c11;
    --secondary-transparent: rgba(61, 13, 18, 0.4);
    --tertiary : #3d0c11;
    /* --tertiary : #33001f; */
    --container: #3d0c11;
    --text : beige;
    --icon: white;
    --text-url : beige;
    --text-deco : beige;
    --text-h : whitesmoke;
    --button : black;
    --accent: #884A39;
}

@font-face {
    font-family: 'Urbanist';
    src: url(/assets/fonts/Urbanist-Regular.ttf);
}
@font-face {
    font-family: 'Charm';
    src: url(/assets/fonts/Charm-Regular.ttf);
}

/* Transition  */
.offer-item img:hover {
    transform: scale(1.1);
    border-radius: 10px;
    transition-duration: 1.5s;
}
.team-item img:hover {
    transform: scale(1.1);
    border-radius: 10px;
    transition-duration: 0.5s;

}
.article-item img:hover {
    transform: scale(1.1);
    border-radius: 10px;
    transition-duration: 0.5s;

}

.nav-item:hover {
    background-color: burlywood;
    /* transform: scale(1.2); */
    border-radius: 10px;
    transition-duration: 0.5s;

}

/* Transition end  */

.fa-brands, .fa-solid {
    color: var(--text);
    height: 24px;
    width: 24px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: var(--text);
}
body {
    background-color: var(--primary);
}

h2 {
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: bolder;
    /* color: var(--text); */
}

h3 {
    font-family: 'Charm', Arial, Helvetica, sans-serif;
    color: var(--accent);
}

section {
    /* background-color: var(--secondary); */
}

.offer-item, .team-item, .article-item {
    background-color: var(--container);
}

/* h2, h3, h4 {
    color: var(--text-h);
} */

button {
    color: var(--button);
}

a:hover {
    text-decoration: underline;
}

header {
background-color: var(--secondary);
}


nav {
    background-color: var(--secondary);
    width: 100%;
    float: right;
    clear: both;
    margin: 0px;
    top: 0;
    right: 0px;
    padding: 0 5%;




    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    z-index: 1;
}


#logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 7%;
    gap: 10%;
}

#logo-text {
    font-family: 'Charm', Arial, Helvetica, sans-serif;
    color: var(--accent);
}

#darkImg {
    width: 24px;
    height: 24px;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10%;
    padding: 0 5%;
}
.nav-item{
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 10%;
    font-weight: bold;
    font-size: large;
    color: var(--text-url);
}

main {
color: var(--text-deco);
text-shadow: 1px 1px rgba(0, 0, 0, 0.473);
/* height: 480px; */
height: 100vh;
/* max-height: 100vh; */
background-image: url(/assets/img/moo/hero-1.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 10% 25% 0 20%;
}
#main-h2 {
    font-size: 70px;
    text-align: left;
    text-transform: capitalize;
    color: var(--text-deco);
    text-shadow: 5px 2px rgba(0, 0, 0, 0.473);

}
main p {
    font-weight: bold;
    color: var(--text-deco);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.473);

}


/* Main End  */

/* About  */

#about {
    max-width: 100vw;;
}

#about-container {
    display: flex;
    flex-direction: row;
    /* width: 70%; */
    gap: 10%;
    padding: 0 10%;
}
#about h2 {
    padding: 2% 0;
}
#about-text {
    padding-left: 5%;
    padding-bottom: 5%;
    width: 50%;
    background-color: var(--tertiary);


}
#about-text p {
    line-break: loose;
    width: 90%;
}

#about-text h3 {
    padding: 5% 0 2% 0;
}

#about-img {
    padding-top: 3%;
    /* grid-area: auto; */
    /* float: left; */
}

#about-img img {
    /* border-radius: 15px; */
    max-width: 100%;
    float: left;
}

/* About End */

/* Offer  */
#offer {
    background-color: var(--primary);
    border-top: 1px solid black;
    margin: 2%;
    
}
#offer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:2% 10%;
}
.offer-item {
    margin: 20px;
    width: 30%;
}
.offer-item img {
    width: 50%;
    padding: 5% 25% 5% 25%;
}
.offer-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-item h4, .offer-item p{
    padding: 0 5% 5% 5%;
}

.offer-item h3 {
    text-align: center;
    padding: 5% 0 0 0;
    font-weight: bolder;
    /* color: var(--text-h); */
    font-family: 'Charm', Arial, Helvetica, sans-serif;

}
.offer-item h3 {
    padding: 5% 0 0 0;
}


.offer-item p, h4 {
    width: 80%;
}

/* Offer end  */

/* Team  */
#team {
    background-color: var(--primary);
}
#team-container {
    /* display: flex;
    flex-direction: row; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.team-item {
    margin: 20px;
    /* margin: 5%; */
    gap: 5%;
    border: 1px solid #00000018;
    border-radius: 7px;
    padding: 20px 20px;
}
.team-item img, .team-item h4, .team-item p {
    width: 90%;
    align-items: center;
    text-align: center;
    padding: 1%;
}
.team-item img {
    border-radius: 50%;
}
.team-item p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Try overflow scroll team*/
#team-container {
    /* overflow: scroll; */
    overflow: hidden;
}

/* Try overflow scroll team end*/

/* Team end  */

/* Article  */

#article h2 {
    text-align: left;
}

#article-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.article-item {
    margin: 1%;
    border: 1px solid gray;
    min-width: 30%;
}

.article-item p {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-item h2 {
    font-size: smaller;
}

.article-item-img {
    max-width: 99%;
}
.article-item button {
    gap: 5%;
}

#article-button {
    gap: 10%;
    /* padding: 3%; */
}
/* Try overflow scroll  */

#article-container {
    overflow: scroll;
}
/* Try overflow end  */

/* Article end  */

/* Membership  */

#membership {
    /* padding-bottom: 5%; */
    margin-bottom: 5%;
    /* background-color: var(--container); */
}

#membership, #membership h2 {
    text-align: center;
    padding: 10px;
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
}
#membership ul {
    padding-top: 3%;
}
#membership ul li {
    padding-left: 5%;
    text-align: center;
    line-break: loose;
    list-style-position: inside;
    list-style-image: url(/assets/icon/star-regular.svg);
}

#membership-form {
    padding: 2%;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: left;
    background-color: var(--secondary);
    border-radius: 15px;
}

#form-legend {
    text-align: center;
    font-weight: bolder;
    /* margin: 1% 0; */
}

.form-label {
    font-weight: bold;
    width: 90%;
    margin: 1%;
}

.form-input {
    width: 90%;
    margin: 1% 3%;
}
#form-button{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Membership end  */

/* Footer  */

/* Footer Grid  */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'footer-logo footer-information footer-social-media'
    'footer-logo footer-legal footer-social-media'
    'footer-logo footer-support footer-social-media';
}

#footer-logo {
    grid-area: footer-logo;
}
#footer-information {
    grid-area: footer-information;
}
#footer-legal {
    grid-area: footer-legal;
}
#footer-support {
    grid-area: footer-support;
}
#footer-social-media {
    grid-area: footer-social-media;
}

/* Footer Grid end */

footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 10%; */
    margin: 2%;
}

footer div a {
    text-decoration: none;
    color: var(--text-url);
}
#footer-logo {
    /* width: 30%; */
}

footer {
    background-color: var(--secondary);
    padding: 3% 10%;
    /* padding: 10% 5%; */
    border-top: 5px solid gray;
    gap: 5%;
    height: fit-content;
    /* margin-bottom: 2%; */
}

#socmed-container {
    display: flex;
    flex-flow: row wrap;
}

.footer-socmed-img {
    height: 24px;
    width: 24px;
}

/* Footer end  */