@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        padding: 50% 20%;
        max-height: 480px;
    }
    #main-h2 {
        font-size: 50px;
    }
    #main-text {
        font-size: smaller;
        font-weight: normal;
    }

    /* Form  */
    #membership-form {
        width: 70%;
    }

    .form-label {
        width: 90%;
    }

    .form-input {
        width: 90%;
    }

    /* Footer Grid  */
footer {
    display: grid;
    grid-template-areas: 
    'footer-logo footer-logo'
    'footer-information  footer-social-media'
    'footer-legal footer-social-media'
    'footer-support  footer-social-media';
}

#footer-logo {
    grid-area: footer-logo;
}
#footer-information {
    grid-area: footer-information;
}
#footer-legal {
    grid-area: footer-legal;
}
#footer-support {
    grid-area: footer-support;
}
#footer-social-media {
    grid-area: footer-social-media;
}

/* Footer Grid end */


}